@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
  }
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;

    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --ring: 0 0% 63.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;

    --ring: 0 0% 14.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  .shadcn-h1 {
    @apply scroll-m-20 text-4xl font-extrabold tracking-tight lg:text-5xl;
  }
  .shadcn-h2 {
    @apply scroll-m-20 border-b pb-2 text-3xl font-semibold tracking-tight transition-colors first:mt-0;
  }
  .shadcn-h3 {
    @apply scroll-m-20 text-2xl font-semibold tracking-tight;
  }
  .shadcn-h4 {
    @apply scroll-m-20 text-xl font-semibold tracking-tight;
  }
  .shadcn-monospace {
    @apply relative rounded bg-muted px-[0.3rem] py-[0.2rem] font-mono text-sm font-semibold;
  }
  .shadcn-paragraph {
    @apply leading-7 [&:not(:first-child)]:mt-6;
  }
  .shadcn-blockquote {
    @apply mt-6 border-l-2 pl-6 italic;
  }
  .shadcn-ol {
    @apply my-6 ml-6 list-decimal [&>li]:mt-2;
  }
  .shadcn-ul {
    @apply my-6 ml-6 list-disc [&>li]:mt-2;
  }

  .tiptap-editor:focus {
    @apply outline-none;
  }
  h1.tiptap-heading {
    @apply shadcn-h1;
  }
  h2.tiptap-heading {
    @apply shadcn-h2;
  }
  h3.tiptap-heading {
    @apply shadcn-h3;
  }
  h4.tiptap-heading {
    @apply shadcn-h4;
  }
}

.ProseMirror {
  /* you need this otherwise the text inside the editor will go on top of the navbar menus */
  position: static !important;
}
.tiptap pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em;
}
.tiptap .shadcn-monospace {
  z-index: -1;
}
.tiptap code.hljs {
  padding: 3px 5px;
}
.hljs-comment,
.hljs-meta {
  color: #565f89;
}
.hljs-deletion,
.hljs-doctag,
.hljs-regexp,
.hljs-selector-attr,
.hljs-selector-class,
.hljs-selector-id,
.hljs-selector-pseudo,
.hljs-tag,
.hljs-template-tag,
.hljs-variable.language_ {
  color: #f7768e;
}
.hljs-link,
.hljs-literal,
.hljs-number,
.hljs-params,
.hljs-template-variable,
.hljs-type,
.hljs-variable {
  color: #ff9e64;
}
.hljs-attribute,
.hljs-built_in {
  color: #e0af68;
}
.hljs-keyword,
.hljs-property,
.hljs-subst,
.hljs-title,
.hljs-title.class_,
.hljs-title.class_.inherited__,
.hljs-title.function_ {
  color: #7dcfff;
}
.hljs-selector-tag {
  color: #73daca;
}
.hljs-addition,
.hljs-bullet,
.hljs-quote,
.hljs-string,
.hljs-symbol {
  color: #9ece6a;
}
.hljs-code,
.hljs-formula,
.hljs-section {
  color: #7aa2f7;
}
.hljs-attr,
.hljs-char.escape_,
.hljs-keyword,
.hljs-name,
.hljs-operator {
  color: #bb9af7;
}
.hljs-punctuation {
  color: #c0caf5;
}
.tiptap pre,
.hljs {
  margin-top: 1.5rem;
  background: #1a1b26;
  color: #9aa5ce;
  border-radius: calc(0.5rem - 2px);
  display: block;
  overflow-x: auto;
  padding: 1em;
}
.hljs-emphasis {
  font-style: italic;
}
.hljs-strong {
  font-weight: 700;
}
